<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>input</string>
		<key>name</key>
		<string>One</string>
		<key>label</key>
		<string>|1&gt;</string>
		<key>qubits</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>input</string>
		<key>name</key>
		<string>Zero</string>
		<key>label</key>
		<string>|0&gt;</string>
		<key>qubits</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>input</string>
		<key>name</key>
		<string>Plus</string>
		<key>label</key>
		<string>|+&gt;</string>
		<key>qubits</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>input</string>
		<key>name</key>
		<string>Minus</string>
		<key>label</key>
		<string>|-&gt;</string>
		<key>qubits</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>gate</string>
		<key>name</key>
		<string>Pauli-X</string>
		<key>label</key>
		<string>X</string>
		<key>qubits</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>gate</string>
		<key>name</key>
		<string>Pauli-Y</string>
		<key>label</key>
		<string>Y</string>
		<key>qubits</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>gate</string>
		<key>name</key>
		<string>Pauli-Z</string>
		<key>label</key>
		<string>Z</string>
		<key>qubits</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>gate</string>
		<key>name</key>
		<string>Hadamard</string>
		<key>label</key>
		<string>H</string>
		<key>qubits</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>gate</string>
		<key>name</key>
		<string>Controlled Not</string>
		<key>label</key>
		<string>CNOT</string>
		<key>qubits</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>gate</string>
		<key>name</key>
		<string>Controlled Y</string>
		<key>label</key>
		<string>CY</string>
		<key>qubits</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>gate</string>
		<key>name</key>
		<string>Controlled Z</string>
		<key>label</key>
		<string>CZ</string>
		<key>qubits</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>gate</string>
		<key>name</key>
		<string>Identity</string>
		<key>label</key>
		<string>I</string>
		<key>qubits</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>gate</string>
		<key>name</key>
		<string>Swap</string>
		<key>label</key>
		<string>SWAP</string>
		<key>qubits</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>output</string>
		<key>name</key>
		<string>Standard Measurement</string>
		<key>label</key>
		<string>1/0</string>
		<key>qubits</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
